@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');

* {
    font-family: "Jersey 15", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    margin: 0;
    height: 100%;
}

#gameContainer {
    background-image: url(img/background/homes.png);
    /* background-image: url(img/background/battle.png); */
    width: 800px;
    height: 800px;
    position: relative;
}

#textContainer {
    position: absolute;
    width: 99.7%;
    height: 200px;
    border: 2px solid white;
    background-color: #0000009c;
    border-radius: 10px;
    bottom: 0;
    display: flex;
    align-items: center;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
}


#regularText {
    color: white;
    font-size: 50px;
    margin: 0;
    margin-left: 10px;
}



#choiceOne.show,
#choiceTwo.show,
#choiceThree.show {
    position: absolute;

    display: inline-flex;
    justify-content: center;
    align-items: center;


    transition: background-color 0.5s ease;
    color: white;
    font-size: 40px;
    width: 265px;
    height: 200px;
    border-right: 2px solid white;
}

#choiceOne {}

#choiceTwo {
    left: 266.66px
}

#choiceThree {
    right: 0;
    border-right: 0px solid white !important;
}

#choiceOne.show:hover,
#choiceTwo.show:hover,
#choiceThree.show:hover {
    background-color: #ffffff;
    transition: background-color 0.5s ease;
    color: #095f79;

}

#choiceOne.hidden,
#choiceTwo.hidden,
#choiceThree.hidden {
    display: none;
}


#choiceOne.show:hover>#ChoiceTextone,
#choiceTwo.show:hover>#choiceTexttwo,
#choiceThree.show:hover>#choiceTextthree {
    transition: color 0.5s ease;
    color: #095f79;

}


#playerImgAttack {
    position: absolute;
    height: 400px;
    bottom: 100px;
    left: 0px;
    transition: left 0.5s ease;
}

#playerImgAttack.hidden {
    position: absolute;
    height: 400px;
    bottom: 100px;
    left: -400px;
    transition: left 0.5s ease;
}

#playerIdle {
    position: absolute;
    height: 400px;
    bottom: 100px;
    left: -50px;
    transition: left 0.5s ease;
    transform: scaleX(-1);
}

#playerIdle.hidden {
    position: absolute;
    height: 400px;
    bottom: 100px;
    left: -400px;
    transition: left 0.5s ease;
    transform: scaleX(-1);
}




#blocker {
    height: 800px;
    width: 600px;
    z-index: 2;
    background-color: black;
}

#mom,
#bug {
    position: absolute;
    height: 400px;
    bottom: 100px;
    right: 0px;
    transition: right 0.5s ease;
    transform: scaleX(-1);
}


#mom.hidden,
#bug.hidden {
    position: absolute;
    height: 400px;
    bottom: 100px;
    right: -400px;
    transition: right 0.5s ease;
    transform: scaleX(-1);
}


#bug,
#bug.hidden {
    height: 300px;
    transform: scaleX(1);
}

#speakerNameContainer {


    background-color: #ffffff;
    z-index: 2;

    position: absolute;
    bottom: 201px;

}

#speakerName {
    color: #095f79;
    font-size: 35px;
    margin: 0;
    margin: 2px;

}

#fightContainer {
    position: absolute;
    width: 800px;
    height: 200px;

    bottom: 0;
    display: flex;
    flex-flow: row nowrap;
}

#fightContainer>div>button {
    border-radius: 30px;
    width: 199px;
    border: 5px solid black;
    height: 98px;
    font-size: 35px;

}

#fightContainer>div {
    display: flex;
    flex-flow: row wrap;
    width: 400px;
}

#battleTextContainer {
    display: flex;

    align-items: center;
    width: 50%;
    font-size: 40px;

}

#battleText {
    margin-left: 10px;
}

#fightContainer.hidden {
    display: none;
}

#attackOne {
    transition: background-color 0.5s ease, color 0.5s ease;
    background-color: green;
}

#attackTwo {
    transition: background-color 0.5s ease, color 0.5s ease;
    background-color: rgb(23, 23, 172);
}

#attackThree {
    transition: background-color 0.5s ease, color 0.5s ease;
    background-color: rgb(161, 24, 24);
}

#Bag {
    transition: background-color 0.5s ease, color 0.5s ease;
    background-color: rgb(94, 63, 35);
}

#attackOne:hover {
    transition: background-color 0.5s ease, color 0.5s ease;
    background-color: rgb(255, 255, 255);
    color: green;
}

#attackTwo:hover {
    transition: background-color 0.5s ease, color 0.5s ease;
    color: rgb(23, 23, 172);
    background-color: white;
}

#attackThree:hover {
    transition: background-color 0.5s ease, color 0.5s ease;
    color: rgb(161, 24, 24);
    background-color: white;
}

#Bag:hover {
    transition: background-color 0.5s ease, color 0.5s ease;
    color: rgb(94, 63, 35);
    background-color: white;
}


#flash-overlay,
#blackout-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    pointer-events: none;
    opacity: 0;
}

#flash-overlay {
    background: black;
}

#blackout-overlay {
    background: black;
}

/* Keyframes */
@keyframes flash {

    0%,
    100% {
        opacity: 0;
    }

    20%,
    60% {
        opacity: 1;
    }

    40%,
    80% {
        opacity: 0;
    }
}

@keyframes shake {

    0%,
    100% {
        transform: translate(0);
    }

    20% {
        transform: translate(-30px, 0);
    }

    40% {
        transform: translate(30px, 0);
    }

    60% {
        transform: translate(-30px, 0);
    }

    80% {
        transform: translate(30px, 0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}


#playerImgAttack.battleScene{
    position: absolute;
    height: 400px;
    bottom: 150px;
    left: 150px;
    transition: left 0.5s ease;
}

#bug.battleScene{
    position: absolute;
    height: 200px;
    bottom: 310px;
    right: 120px;
    transition: right 0.5s ease;
}

#HealthContainerPlayer.hidden, #HealthContainerEnemy.hidden{
    display: none;
}

#HealthContainerPlayer, #HealthContainerEnemy{
    position: absolute;
    background-image: url(img/HealthBg.png);
    width: 250px;
    height: 150px;
    background-size: contain;
    background-repeat: no-repeat;
    bottom: 220px;
    right: 10px;
    background-position: bottom;
}



#HealthContainerEnemy{
    position: absolute;
    background-image: url(img/HealthBg.png);
    width: 250px;
    height: 150px;
    background-size: contain;
    background-repeat: no-repeat;
    top: 100px;
    left: 200px;
    background-position: bottom;
    transform: scaleX(-1);
}



#healthBarContainerPlayer, #healthBarContainerEnemy{
    width: 300px;
    height: 100px;
    display: flex;
    margin-top: 40px;
    margin-left: 25px;
    align-items: center;
}

#healthBarContainerPlayer > img, #healthBarContainerEnemy > img{
    width: 40px;
    height: 40px;
    margin-right: 5px;
}

#healthBarContainerEnemy > img{
    order: 1;
    margin-left: 5px;
}

#healthBarPlayer, #healthBarEnemy {
    height: 20px;
    width: 150px;
    margin-top: 0;
    border: solid 5px rgb(0, 0, 0);
    /* border-left: solid 10px rgb(255, 255, 255); */
    
    
    
}

#healthFillPlayer, #healthFillEnemy{
    width: 100% ;
    height: 100%;
   
    background-color: rgb(214, 69, 69);
}



#mentor{
    position: absolute;
    height: 400px;
    bottom: 100px;
    right: 0px;
    transition: right 0.5s ease;
    transform: scaleX(-1);
}


#mentor.hidden {
    position: absolute;
    height: 400px;
    bottom: 100px;
    right: -400px;
    transition: right 0.5s ease;
    transform: scaleX(-1);
}


#ironGiant{
    position: absolute;
    height: 400px;
    bottom: 100px;
    right: 0px;
    transition: right 0.5s ease;
    transform: scaleX(-1);
}


#ironGiant.hidden {
    position: absolute;
    height: 400px;
    bottom: 100px;
    right: -400px;
    transition: right 0.5s ease;
    transform: scaleX(-1);
}


#BossFast{
    position: absolute;
    height: 400px;
    bottom: 100px;
    right: 0px;
    transition: right 0.5s ease;
    
}


#BossFast.hidden {
    position: absolute;
    height: 400px;
    bottom: 100px;
    right: -400px;
    transition: right 0.5s ease;
    
}

#BossFast.battleScene{
    position: absolute;
    height: 200px;
    bottom: 310px;
    right: 120px;
    transition: right 0.5s ease;
}