@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');

@font-face {
    font-family: inventoryFont;
    src: url('font/Inventory.ttf')
}


* {
    font-family: "Jersey 15", sans-serif;
    font-weight: 400;
    font-style: normal;

}

#mainCanvas {
    width: 100%;
    height: 100%;
    position: absolute;
}

body {
    margin: 0;
    overflow-x: hidden;
}

main {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

#hud {

    z-index: 4;
    position: relative;
    height: 300px;
    width: 100%;
    bottom: 0;
    display: flex;
    flex-flow: row;
    justify-content: space-between;

    /* animation: stuff 5s forwards; */
}




#leftSide {
    display: flex;
    flex-flow: row nowrap;
    position: absolute;
    align-items: center;
    width: 450px;
    background-color: rgba(0, 0, 0, 0.39);
    height: 250px;
    margin-left: 10px;
    border-radius: 20px;
    left: 0;
    /* animation: Shrink 5s forwards; */
}

@keyframes Shrink {
    0% {
        left: 0;
    }

    100% {
        left: -30%
    }
}

@keyframes grow {
    0% {
        left: -30%
    }

    100% {
        left: 0;
    }

}

#healthBarContainer {

    position: relative;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

}


#healthBarContainer>img {
    width: 60px;
    position: absolute;
}

#healthBar {
    height: 35px;
    width: 210px;
    display: flex;
    flex-flow: row nowrap;
    border: solid 5px black;
    border-left: solid 10px black;
    margin-left: 51px;
    margin-bottom: 11px;
}

#healthBar>div[id*='bar'] {
    height: 100%;
    width: 35px;
}



#attackCooldownContainer {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    position: relative;
    height: 68px;
}

#attackCooldownContainer>img {
    position: absolute;
    width: 70px;


}

#cooldownBar {
    height: 35px;
    width: 235px;
    border: solid 5px black;
    border-left: solid 10px black;
    margin-left: 25px;

}

#healthFill {
    width: 100%;
    /* background-image: linear-gradient(to right, #48953F , #62A95A, #CAD15F,#FFC75F, #F07B61, #E05C3E, #B52E2E); */
    background-color: rgb(214, 69, 69);
}

#cooldownFill {
    height: 92%;
    width: 100%;
    background-color: #69C11F;
    transition: width 0.2s ease-out;
}

#cooldownFillAccent {
    height: 8%;
    width: 100%;
    background-color: #7AFF05;
    transition: width 0.2s ease-out;
}




#levelContainer {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    position: relative;
    height: 72px;

}

#levelContainer>img {
    height: 72px;
    position: absolute;

}

#levelBar {
    height: 35px;
    width: 230px;
    border: solid 5px black;
    border-left: solid 20px black;
    margin-left: 20px;



}

#levelFill {
    height: 35px;
    background-color: #FFC75F;
}

#moneyGained {
    color: #D3Af37;
    font-size: 40px;
    margin-right: 10px;
}

#coins {
    display: flex;
    height: fit-content;
    margin-left: 50px;
}

#bars {
    height: 100%;
    align-items: center;
    display: flex;
    flex-flow: column;

    justify-content: space-evenly;
    align-items: flex-start;

    margin-left: 20px;
    /* transform: scale(0.8); */
}

#rightside {
    margin-right: 0px;

    position: absolute;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.39);
    height: 280px;
    margin-left: 10px;
    border-radius: 20px;
    width: 30%;
    right: -620px;
}

@keyframes stuff {
    0% {
        width: 30%;
        right: -620px;
    }

    100% {
        width: 98%;
        right: 0px;
    }
}

@keyframes gone {
    0% {
        width: 98%;
        right: 0px;
    }

    100% {
        width: 30%;
        right: -620px;
    }

}


#bottomSpot {
    display: flex;
    flex-flow: row nowrap;
    width: fit-content;
}

#left {
    border: 2px solid #095f79;

    border-radius: 10px;
    width: 106px;
    height: 106px;


}

#left>img {
    width: 100%;
    height: 100%;


}

#right {
    border: 2px solid #095f79;
    border-radius: 10px;
    width: 400px;
    height: 250px;
    display: flex;
    align-items: center;
}

@keyframes textWidth {
    0% {
        width: 400px;
    }

    100% {
        width: 1800px;
    }
}

#topSpot {
    border: 2px solid #012631;
    border-radius: 5px;
    width: 120px;
    height: 40px;
    text-align: center;
}

#speakerName {
    color: white;
    font-size: 40px;
    margin: 0;
}

#column {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 150px;
}

#regularText {
    color: white;
    font-size: 50px;
    margin: 0;
    margin-left: 10px;
}

#PotionShop.hidden {
    top: 0;
    position: absolute;
    display: none;
}

#PotionShop.show {
    display: flex;
    flex-flow: column nowrap;
    position: absolute;
    top: 0;
    background-image: url(img/ui/shopUi2nd.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 70%;
    width: 50%;
    left: 25%;
    align-items: center;
    z-index: 5;
}

#potionShop>section {
    overflow: scroll;
    height: 65%;
    margin-top: 5%;
    scrollbar-color: rgba(255, 0, 0, 0) rgba(255, 166, 0, 0);

}

#potionShop>section>div>div:first-of-type>img {
    width: 70%;


}

#PotionShop>header>h2 {
    font-family: inventoryFont !important;
    color: white;
    font-size: 55px;
    margin: 0;
    margin-top: 5%;
    text-align: center;
}

#PotionShop>header {
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: flex-end;
    width: 100%;

}

#PotionShop>header>img {
    width: 50px;
    margin-top: 5%;

}

header>aside {
    display: flex;

}

#shopCoin {
    margin-bottom: 0;
    margin-top: 5%;
    color: #D3Af37;
    font-size: 40px;
    margin-right: 30%;
}

#PotionShop>section>div {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    height: fit-content;
    margin-top: 15%;
    width: 100%;
    height: fit-content;

    margin-right: 0;
}

#PotionShop>section>div:first-of-type {
    margin-top: 0;
}

#PotionShop>section>div>div:first-of-type {
    height: 200px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#PotionShop>section>div>div:last-of-type {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    font-family: inventoryFont !important;
    height: fit-content;
    width: 600px;
    
}

#PotionShop>section>div>div:last-of-type>p {
    color: white;
    font-family: inventoryFont !important;
}

#PotionShop>section>div>div:last-of-type>p:first-of-type {
    font-size: 40px;
    margin: 0;
    margin-bottom: 5%;
}

#PotionShop>section>div>div:last-of-type>p:last-of-type,
#PotionShop>section>div>div:last-of-type>p:nth-of-type(2) {
    font-size: 30px;
    margin: 0;
}

#potionShop>section>div>div:last-of-type>img {
    height: 60px;
    width: 100px;
    margin-top: 5%;
    transition: transform 0.2s ease-out;
}

#potionShop>section>div>div:last-of-type>img:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.2s ease-out;
}

#Close {}

#inventory.show {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(img/ui/inventory.png);
    top: 0;
    background-repeat: no-repeat;
    z-index: 5;
    background-position: center;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    
}

#inventory>p {
    color: #e5be7d;
    font-size: 100px;
    margin: 0;
    margin-top: 2%;
    text-align: center;
}

#items {
    width: 41%;
    display: flex;
    justify-content: space-between;
    height: 15%;
    margin-top: 4%;
}

#items> img{
    visibility: hidden;
}

#inventory.hidden {
    display: none;
}


#Count{
    position: absolute;
    display: inline-flex;
    flex-flow: row;
    color: white;
    width: 37.5%;
    justify-content: space-between;
    align-items: flex-start;
    text-align: center;
    font-size: 40px;
    top: 36%;
    left: 28%;
}

#Count > p{
    
    margin: 0;
    text-align: center;
    
}

#shieldFill{
    
    background-color: #095f79;
}
#column{
    height: 250px;
}

/* .potion > img{
    height: 10%;
} */

.Speedpotion, .strengthpotion{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    height: 50px;
    width: 70%;
    align-items: center;
    
    
}


.Speedpotion > img, .strengthpotion > img{
    height: 100%;
}

#timerSpeed , #timerStrength{
    color: white;
    font-size: 40px;
    margin: 0;
    margin-left: 10%;
}